{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        {% for result in results %}
            <li>{{ result }}</li>
        {% endfor %}

        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>

    <a href="/">Powrót</a>
{% endblock %}