@import "~bootstrap/scss/bootstrap";

.container--form {
  background-color: white;
}
.inactive {
  pointer-events: none;
  opacity: 0.7;
}
.form-control--invalid {
  border-color: #dc3545;
}
.invalid-feedback {
  display: block !important;
}